.section{
    padding-block: 0;
    padding-block: 10rem;
}

.section h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 10rem;
}

.content {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.content .project {
    display: flex;
    gap: 2rem;
}
  
.project .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 700px;
}

.project img {
    max-width: 385px;
    height: 200px;
    border-radius: 8px;
}

.project + .project {
    margin-top: 10rem;
  }

.info h3 {
    font-size: 2rem;
}

.info p {
    text-align: center;
}

.button {
    background-color: transparent;
    color: var(--primary) ;

    padding: 1rem;

    border: 1px solid #000000;
    border-radius: 15px; 
    cursor: pointer;
    transition: all 0.2s;
    min-width: 10rem;
    max-width: 20rem;
    font-weight: 700;
  
    font-size: 1.2rem;
  }
  
  .button:hover {
    background-color: var(--primary);
    color: var(--secondary);
  }

  @media (max-width: 1024px) {
    .button {
        font-size: 1rem;
    }
  }

  @media (max-width: 768px) {
    .project {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .info {
        gap: 2rem;
        align-items: center;
    }
  }