.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.4rem;
    padding: 0 2rem 0 2rem;
    height: var(--nav-height);
}

.ul {
    display: flex;
    gap: 2rem;
    color: var(--primary);
    list-style: none;
}

.li {
    font-weight: lighter;
    cursor: pointer;

    transition: filter 0.2s;
}

.li:hover {
    filter: brightness(0.9);
}

.active {
    font-weight: bolder;
}

@media (max-width: 768px){
    .header {
        flex-wrap: wrap;
      }
    
      .header .logo {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
      }
    
      .header .menu {
        width: 100%;
        justify-content: center;
        gap: 1rem;
      }
}